<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/e3ae05b8e6.js"></script>
  <title>Todo List</title>
  <link rel="stylesheet" href="./style.css">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="./app.js" defer></script>
</head>

<body>
  <header>
    <h1>Todo List</h1>
  </header>
  <main class="main" id="app">
    <form action="" class="form" v-on:submit.prevent>
      <div class="inputWrapper">
        <input type="text" class="todo-input" v-model="todoText" v-on:keyup.enter="addTodo">
        <button class="todo-button" type="button" v-on:click="addTodo">
          <i class="fa fa-plus-square"></i>
        </button>
        <div class="err" v-if="emptyText">todoが入力されていません</div>
      </div>
      <div class="select">
        <select name="todos" class="filter-btn" v-model="selected" @change="filterTodo">
          <option value="all">All</option>
          <option value="completed">Completed</option>
          <option value="uncompleted">Uncompleted</option>
        </select>
      </div>
    </form>
    <div class="todo-container">
      <ul class="todo-list">
        <!-- todoテンプレート start -->
        <todo-item v-for="(todo, index) in resultTodos" :key="index" v-bind:todo="todo" v-bind:index="index"
          @delete-todo="deleteTodo" @edit-todo="editTodo" :todo="todo" @complete-todo="completeTodo"
          v-model:done="todo.done"></todo-item>
        <!-- todoテンプレート end -->
      </ul>
    </div>
  </main>

  <script type="text/x-template" id="todo-item">
    <div class="todo" v-bind:class="{completed : done, fall: isDelete}">
      <li class="todo-item" data-text="todo" @click="editMode = !editMode" v-show="!editMode">{{todo.text}}</li>
      <input type="text" class="edit_input" v-show="editMode" v-model="editTodoText" @blur="editTodo(index)">
      <button class="complete-btn" v-on:click="isComplete(index)"><i class="fa fa-check"></i></button>
      <button class="trash-btn" @click="deleteTodo(index)"><i class="fa fa-trash"></i></button>
    </div>
  </script>

</body>

</html>